extends layout

block content
  #container
    h1='Vista del personaje'
    .card(style='width: 13rem')
        img.card-img-top(src=personaje[0].image alt='...')
        .card-body
            p
                strong Name: 
                =   personaje[0].name
            p
                strong Gender: 
                =    personaje[0].gender
            p
                strong Fecha: 
                =    personaje[0].created